@charset "UTF-8";
/* CSS Document */
.top-wrapper img {
	background-size: cover;
	max-width: 100%;  /*画像のはみだしを防ぐ*/
}

.design-container {
	padding: 200px 100px 200px 100px;
	text-align: center;
	background-color: #FBFBFB;
}

.design-container h1 {
	font-size: 40px;
	display: inline-block;
	border-bottom: 1.5px solid #707070;
}

.design-container span {
	color: #FF00F5;
}

.design-content {
	margin: 100px 100px;
}

.design-content li {
	list-style: none;
	float: left;
	width: calc(100%/4);  /*←画像を横に4つ並べる場合*/
    box-sizing: border-box;
}

.design-content li h4 {
	text-align: left;
	padding-left: 33px;
	padding-bottom: 20px;
}

.design-content li img {
	padding: 100px 0;
    max-width: 70%;  /*画像のはみだしを防ぐ*/
    height: auto;  /*画像の縦横比を維持 */
}

.work-container {
	padding: 350px 100px 500px 100px;
	text-align: center;
	background-color: #FBFBFB;
}

.work-container h1 {
	font-size: 40px;
	display: inline-block;
	border-bottom: 1.5px solid #707070;
}

.work-container span {
	color: #4FBCF5;
}

.work-content {
	margin: 100px 100px;
}

.work-content li {
	list-style: none;
	float: left;
	width: calc(100%/2);  /*←画像を横に2つ並べる場合*/
    padding: 0px 10px;  /*←画像の上下に20pxの余白を入れる場合*/
    box-sizing: border-box;
}

.work-content li img {
	padding: 100px 0;
    max-width: 40%;  /*画像のはみだしを防ぐ*/
    height: auto;  /*画像の縦横比を維持 */
}
